.git
.gitignore
.env
.env.*.php
.DS_Store
.idea
.vscode
*.log
node_modules
npm-debug.log
yarn-error.log
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
bootstrap/cache/
vendor/
.env.backup
.env.production.backup
.env.*.backup
